<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog Post</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/plugins/colorbox/colorbox.css">
<link rel="stylesheet" type="text/css" href="../static/styles/blog_single.css">
<link rel="stylesheet" type="text/css" href="../static/styles/blog_single_responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo"><a href="#">MyBlog</a></div>
							<nav class="main_nav">
								<ul>
									<li class="active"><a href="#">Home</a></li>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact</a></li>
								</ul>
							</nav>
							<div class="header_extra ml-auto">
								<div class="search">
									<div class="search_icon">
										<img src="../static/images/search.png" alt="">
									</div>
								</div>
								<div class="shopping_cart">
									<a href="#">
										<div><img class="svg" src="../static/images/cart.svg" alt=""></div>
									</a>
								</div>
								<div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_container">
			<div class="page_menu_content">
				<div class="page_menu_search">
					<form action="#">
						<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
					</form>
				</div>
				<ul class="page_menu_nav">
					<li class="page_menu_item has-children">
						<a href="#">Home<i class="fa fa-angle-down"></i></a>
						<ul class="page_menu_selection">
							<li><a href="#">Home<i class="fa fa-angle-down"></i></a></li>
							<li><a href="#">About Us<i class="fa fa-angle-down"></i></a></li>
							<li><a href="#">Blog<i class="fa fa-angle-down"></i></a></li>
							<li><a href="#">Contact<i class="fa fa-angle-down"></i></a></li>
						</ul>
					</li>
					<li class="page_menu_item">
						<a href="#">About Us</a>
					</li>
					<li class="page_menu_item">
						<a href="#">Blog</a>
					</li>
					<li class="page_menu_item">
						<a href="#">Contact</a>
					</li>
				</ul>
				<div class="menu_contact">
					<div class="menu_contact_item"><div class="menu_contact_icon"><img src="../static/images/phone_white.png" alt=""></div>+38 068 005 3570</div>
					<div class="menu_contact_item"><div class="menu_contact_icon"><img src="../static/images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="../static/images/blog_single_background.jpg"></div>
		<div class="home_content">
			<div class="post_category trans_200"><a href="category.html" class="trans_200">Category</a></div>
			<div class="post_title">How to Create a Blog Post</div>
		</div>
	</div>

	<!-- Post -->

	<div class="post">
		<div class="container">
			<div class="row">
				
				<!-- Post Content -->

				<div class="col-lg-9">
					<div class="post_content">
						<div class="post_body">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vulputate eros. Sed vehicula accumsan est, vel fermentum nulla tempor nec.</p>

							<p>Cras a risus quis magna facilisis lacinia. Duis et nulla magna. Fusce in risus auctor, viverra libero ut, fringilla purus. Curabitur scelerisque tortor non metus imperdiet, ut bibendum massa feugiat.</p>
							
							<div class="post_quote"><p>“To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.”</p></div>

							<p>Proin ac urna turpis. Etiam sit amet condimentum massa. Maecenas sit amet justo non nulla sagittis ultricies at nec purus. Integer ac neque in nulla aliquet euismod id ac velit.</p>

							<p>Praesent ut libero pellentesque, vehicula augue vel, gravida quam. Vivamus pellentesque, erat nec aliquam dictum, elit nisi ullamcorper sem, a volutpat dui eros sit amet felis.</p>
						</div>
					</div>
					
					<!-- Comments -->

					<div class="comments_container">
						<div class="comments_title"><span>2</span> Comments</div>
						<ul class="comments_list">
							<li>
								<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
									<div class="comment_image">
										<div><img src="../static/images/comment_1.jpg" alt=""></div>
									</div>
									<div class="comment_content">
										<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
											<div class="comment_author"><a href="#">Michael Smith</a></div>
											<div class="comment_rating">
												<div class="rating_r rating_r_4">
													<i></i><i></i><i></i><i></i><i></i>
												</div>
											</div>
											<div class="comment_time ml-auto">1 day ago</div>
										</div>
										<div class="comment_text">
											<p>Proin ac urna turpis. Etiam sit amet condimentum massa. Maecenas sit amet justo non nulla sagittis ultricies at nec purus. Integer ac neque in nulla aliquet euismod id ac velit.</p>
										</div>
										<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
											<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>10</span></a></div>
											<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
										</div>
									</div>
								</div>
								<ul>
									<li>
										<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
											<div class="comment_image">
												<div><img src="../static/images/comment_2.jpg" alt=""></div>
											</div>
											<div class="comment_content">
												<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
													<div class="comment_author"><a href="#">Jessica Brown</a></div>
													<div class="comment_rating">
														<div class="rating_r rating_r_4">
															<i></i><i></i><i></i><i></i><i></i>
														</div>
													</div>
													<div class="comment_time ml-auto">12 hours ago</div>
												</div>
												<div class="comment_text">
													<p>Maecenas sit amet justo non nulla sagittis ultricies at nec purus. Integer ac neque in nulla aliquet euismod id ac velit.</p>
												</div>
												<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
													<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>5</span></a></div>
													<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li>
								<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
									<div class="comment_image">
										<div><img src="../static/images/comment_3.jpg" alt=""></div>
									</div>
									<div class="comment_content">
										<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
											<div class="comment_author"><a href="#">Chris Williams</a></div>
											<div class="comment_rating">
												<div class="rating_r rating_r_5">
													<i></i><i></i><i></i><i></i><i></i>
												</div>
											</div>
											<div class="comment_time ml-auto">2 days ago</div>
										</div>
										<div class="comment_text">
											<p>Vivamus pellentesque, erat nec aliquam dictum, elit nisi ullamcorper sem, a volutpat dui eros sit amet felis.</p>
										</div>
										<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
											<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
											<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<!-- Leave Comment -->

					<div class="leave_comment">
						<div class="leave_comment_title">Leave a Comment</div>
						<div class="leave_comment_form_container">
							<form action="#" id="leave_comment_form" class="leave_comment_form">
								<input type="text" class="leave_comment_input" placeholder="Name" required="required">
								<input type="email" class="leave_comment_input" placeholder="Email" required="required">
								<textarea class="leave_comment_input leave_comment_textarea" placeholder="Comment" required="required"></textarea>
								<button class="leave_comment_button">Submit Comment</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Sidebar -->

				<div class="col-lg-3">
					<div class="sidebar">
						<div class="sidebar_section">
							<div class="sidebar_title">Latest Posts</div>
							<div class="sidebar_latest">
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div><div class="latest_image"><img src="../static/images/latest_1.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="#">Vivamus in nisi at tortor</a></div>
										<div class="latest_date">Nov 12, 2023</div>
									</div>
								</div>
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div><div class="latest_image"><img src="../static/images/latest_2.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="#">Fusce lacinia arcu</a></div>
										<div class="latest_date">Nov 12, 2023</div>
									</div>
								</div>
								<div class="latest d-flex flex-row align-items-start justify-content-start">
									<div><div class="latest_image"><img src="../static/images/latest_3.jpg" alt=""></div></div>
									<div class="latest_content">
										<div class="latest_title"><a href="#">Curabitur molestie</a></div>
										<div class="latest_date">Nov 12, 2023</div>
									</div>
								</div>
							</div>
						</div>

						<div class="sidebar_section">
							<div class="sidebar_title">Categories</div>
							<div class="sidebar_categories">
								<ul>
									<li><a href="#">Art & Design</a></li>
									<li><a href="#">Business</a></li>
									<li><a href="#">Technology</a></li>
									<li><a href="#">Lifestyle</a></li>
									<li><a href="#">Fashion</a></li>
								</ul>
							</div>
						</div>

						<div class="sidebar_section">
							<div class="sidebar_title">Tags</div>
							<div class="sidebar_tags">
								<ul class="tags_list">
									<li><a href="#">Creative</a></li>
									<li><a href="#">Unique</a></li>
									<li><a href="#">Photography</a></li>
									<li><a href="#">Ideas</a></li>
									<li><a href="#">Travel</a></li>
								</ul>
							</div>
						</div>

						<div class="sidebar_section">
							<div class="sidebar_title">Archive</div>
							<div class="sidebar_archive">
								<ul>
									<li><a href="#">December 2023</a></li>
									<li><a href="#">November 2023</a></li>
									<li><a href="#">October 2023</a></li>
									<li><a href="#">September 2023</a></li>
									<li><a href="#">August 2023</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="footer_content d-flex flex-md-row flex-column align-items-center justify-content-start">
							<div class="footer_logo"><a href="#">MyBlog</a></div>
							<div class="footer_social ml-md-auto">
								<ul>
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="footer_cr ml-md-auto">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								© <script>document.write(new Date().getFullYear());</script> All rights reserved
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/styles/bootstrap4/popper.js"></script>
<script src="../static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../static/js/blog_single.js"></script>
</body>

<script>
  window.watsonAssistantChatOptions = {
    integrationID: "fc10b479-f171-42d2-8e3c-ffbb9a26adff", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "2c707554-9622-4cd9-acc1-a8027deaddb9", // The ID of your service instance.
    onLoad: async (instance) => { await instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
</html>
